* {
	border: none;
	border-radius: 0;
	font-family: "BigBlueTerm437NerdFont", monospace;
	font-size: 12px;
	min-height: 0;
	margin: 0px;
}

#workspaces button {
	padding: 0 5px;
	background: transparent;
	color: #585b70;
}

#workspaces button.active {
	color: #89b4fa;
	border-top: 2px solid #89b4fa;
}

window#waybar {
	background: rgba(0, 0, 0, 0.7);
	color: #ffffff;
}

#clock, #battery, #network, #pulseaudio, #tray, #cpu, #backlight {
	padding: 0 3px;
	margin: 0 2px;
}

#network.disconnected {
	background: #f53c3c;
}

@keyframes blink {
	to {
		background-color: #af005f;
	}
}

#battery.warning:not(.charging) {
	background-color: #ff8700;
	color: #1b1d1e;
}
#battery.critical:not(.charging) {
	color: white;
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
